<div class="grid fcreate">
  <%= render "shared/navbar" %>

  <div class="titlebook">
    <h1 class="lighttitle">Book your offer</h1>
  </div>

  <div class="formbook">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <%= f.input :start_date, as: :string, label:"Arrival",
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :end_date, as: :string, label:"Departure",
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :comment, as: :text, label:"Comment",
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
      <div class="btnform">
        <%= f.submit "Save", class:"btn btn-flat"%><br><br>
        <%= link_to "< Offer", offer_path(@offer), class: "btn btn-book" %>
      </div>
    <% end %>
  </div>

  <%= render "shared/footer" %>
</div>
