<div class="grid fcreate">
  <%= render "shared/navbar" %>

  <h1 class="titlebook">Book your offer</h1>

  <div class="formbook">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <h3>Choose your dates please :</h3>
      <%= f.input :date, as: :date%>
      <br>
      <%# <%= f.label :booked %>
      <%# <%= f.check_box :booked %>
      <br>
      <%= f.label "Add a comment:" %>
      <%= f.input :comment, as: :text, label: false %>
      <br>
      <br>
      <div class="btnform">
        <%= f.submit "Save", class:"btn btn-flat"%><br><br>
        <%= link_to "< Offer", offer_path(@offer), class: "btn btn-book" %>
      </div>
    <% end %>
  </div>

  <%= render "shared/footer" %>
</div>
