<div class="new-container">
  <h1>Book your offer</h1>

  <div class="new-offer">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <h3>Choose your dates please :</h3>
      <%= f.input :date, as: :date%>
      <br>
      <%# <%= f.label :booked %>
      <%# <%= f.check_box :booked %>
      <br>
      <%= f.label "Add a comment:" %>
      <%= f.input :comment, as: :text, label: false %>
      <br>
      <br>
      <%= f.submit "Save", class:"btn btn-flat"%><br>
      <%= link_to "Back to Offer", offer_path(@offer), class:"btn btn-flat" %>
    <% end %>
  </div>
</div>
