<div class="grid fcreate">
  <%= render "shared/navbar" %>

  <div class="titlebook">
    <h1 class="lighttitle">Book your offer</h1>
  </div>

  <div class="formbook">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <h3>Choose your dates please :</h3>
      <div class="row">
        <div class="col">
          <%= f.input :date, as: :date %>
          <%= f.input :start_date, as: :string,
                      wrapper_html: { class: "mb-4" },
                      label_html: { class: "form-label text-secondary fw-bold" },
                      input_html: { data: { controller: "flatpickr" } } %>
        </div>
        <div class="col">
          <%= f.input :end_date, as: :string,
                      wrapper_html: { class: "mb-4" },
                      label_html: { class: "form-label text-secondary fw-bold" },
                      input_html: { data: { controller: "flatpickr" } } %>
        </div>
        </div>
      <%= f.label "Add a comment:" %>
      <%= f.input :comment, as: :text, label: false %>
      <br>
      <br>
      <div class="btnform">
        <%= f.submit "Save", class:"btn btn-flat"%><br><br>
        <%= link_to "< Offer", offer_path(@offer), class: "btn btn-book" %>
      </div>
    <% end %>
  </div>

  <%= render "shared/footer" %>
</div>
