  <nav class="navbar-vtc">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "vistaculture.png", class: "logo" %>
    <% end %>
    <% if user_signed_in? %>
      <ul class="menu">
        <li>
          <div class="navig"><a href="#" class="nav-link">Menu</a></div>
          <ul class="sub-menu">
            <li><%= link_to "Homepage", "/", class: "dropdown-item" %></li>
            <li><%= link_to "Offers", offers_path, class: "dropdown-item" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
          </ul>
        </li>
    <% else %>
      <div class="navig">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign_up", new_user_registration_path, class: "nav-link" %>
      </div>
    <% end %>
      </ul>
  </nav>
