<div class="new-container">
  <div class="new-offer">
    <%= simple_form_for offer do |f| %>
      <div class="oform">
        <%= f.input :country, as: :string %>
        <%= f.input :city %>
        <%= f.input :price %>
      </div>
        <h2 class="lighttitle">Define options please</h2>
      <div class="checkbox">
        <%= f.check_box :lodging %>
        <%= f.label :lodging %>
        <%= f.check_box :meal %>
        <%= f.label :meal %>
        <%= f.check_box :pet %>
        <%= f.label :pet %>
        <%= f.check_box :excursion %>
        <%= f.label :excursion %>
        <%= f.check_box :smoker %>
        <%= f.label :smoker %>
        <%= f.check_box :child %>
        <%= f.label :child, "Family" %>
        <div class="formpix">
          <%= f.input :photo, as: :file, label: "Choose a photo" %>
        </div>
      </div>
      <div class="btnform">
        <%= f.submit "Save", class:"btn btn-flat"%><br><br>
        <div class="back">
          <%= link_to "< Offers", offers_path, class: "btn btn-book" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
