  <div class="formbook">
    <%= simple_form_for offer do |f| %>
      <div class="oform">
        <%= f.input :country, as: :string %>
        <%= f.input :city %>
        <div class="select-arrow">
          <%= f.input :price, label: "Price per Day" %>
          <span class="arrow-down"></span>
        </div>
      </div>
        <h2 class="lighttitle">Choose interrests</h2>
      <div class="checkbox">
        <div>
          <%= f.check_box :lodging %>
          <%= f.label :lodging %>
        </div>
        <div>
          <%= f.check_box :meal %>
          <%= f.label :meal %>
        </div>
        <div>
          <%= f.check_box :pet %>
          <%= f.label :pet %>
        </div>
        <div>
          <%= f.check_box :excursion %>
          <%= f.label :excursion %>
        </div>
        <div>
          <%= f.check_box :smoker %>
          <%= f.label :smoker %>
        </div>
        <div>
          <%= f.check_box :child %>
          <%= f.label :child, "Family" %>
        </div>
      </div>
      <div class="lighttitle">
        <h2>
          <%= f.input :photo, as: :file, label: "Upload a picture" %>
        </h2>
      </div>
      <div class="btnform">
        <%= f.submit "Save", class:"btn btn-flat"%><br><br>
      </div>
    <% end %>
  </div>
