<div class="container index-container">
  <br>
  <div class="flex-new-btn">
    <%= link_to "Create an offer", new_offer_path, class: "btn btn-flat" %>
  </div>
  <br>
  <ul class="cards-index">
    <% @offers.each do |offer|  %>
      <% if offer.city == "Buenos Aires" %>
        <% image = "buenos-aires.jpg" %>
        <% elsif offer.city == "Dublin"%>
        <% image = "dublin2.jpg" %>
        <% elsif offer.city == "Casablanca"%>
        <% image = "casablanca2.jpg" %>
        <% elsif offer.city == "Paris"%>
        <% image = "paris.jpg" %>
        <% elsif offer.city == "Dakar"%>
        <% image = "dakar.jpg" %>
        <% else %>
        <% image = "newyork.jpg" %>
      <% end %>
    <li>
      <%= link_to offer_path(offer) do %>
        <div class="card-trip">
          <%= image_tag image %>
            <div class="card-trip-infos">
              <h2><%= offer.city %> - <%= offer.country %></h2>
            </div>
            <div>
              <h2 class="card-trip-pricing">$<%= offer.price %></h2>
            </div>
        </div>
      <% end %>
    </li>
  <% end  %>
  </ul>
</div>
