<div class="grid offers">
  <%= render "shared/navbar" %>
  <div class="create-offer-btn">
  <%= link_to "Create your Offer", new_offer_path, class: "btn btn-call2" %>
  </div>
  <ul class="cards-offers">
    <% @offers.each do |offer|  %>
      <li>
        <div class="card-trip">
          <%= cl_image_tag offer.photo.key, height: 350, width: 450, crop: :fill, class: "image" %>
          <div class="card-trip-infos">
            <div class="destination">
              <p class="capitale"><%= offer.city %>,</p><p><%= offer.country %></p>
            </div>
            <div class="trip-details">
              <div class="price">
                <p><em>Price per Day:</em></p>
                <p class="card-price">$<strong><%= offer.price %></strong></p>
              </div>
              <div class="book">
                <%= link_to "Book now", offer_path(offer), class: "btn btn-booknow" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end  %>
  </ul>
  <%= render "shared/footer" %>
</div>
