<div class="grid show">
  <%= render "shared/navbar" %>

  <div class="titleshow">
      <h3 class="bold"><%= @offer.city%></h3><p> | <%= @offer.country %> | </p>
      <div class="priceshow">
        <p>Price per Day:</p>
        <div class="gapprice">
          <h3>$</h3><h3 class="bold"><%= @offer.price %></h3>
        </div>
      </div>
  </div>

  <div class="offer-pix">
    <% if @offer.photo.attached? %>
      <%= cl_image_tag @offer.photo.key, height: 350, width: 450, crop: :fill, class: "show-img" %>
    <% end %>
  </div>
  <div class="interrest-box">
    <div class="interrest">
      <i class="fa-solid fa-globe"></i>
      <p>Country</p>
        <div class="bold"><%= @offer.country %></div>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-city"></i>
      <p>City</p>
        <div class="bold"><%= @offer.city %></div>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <p>Price/day</p>
      <div class="bold">$<%= @offer.price %></div>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-bed"></i>
      <p>Lodging</p>
      <% if @offer.lodging %>
        <div class="bold">Yes</div>
      <% else %>
        <div class="bold">No</div>
      <% end %>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-utensils"></i>
        <p>Meal</p>
        <% if @offer.meal %>
          <div class="bold">Yes</div>
        <% else %>
          <div class="bold">No</div>
        <% end %>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-bed"></i>
      <p>Families</p>
      <% if @offer.child %>
        <div class="bold">Yes</div>
      <% else %>
        <div class="bold">No</div>
      <% end %>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-paw"></i>
      <p>Pet</p>
      <% if @offer.pet %>
        <div class="bold">Yes</div>
      <% else %>
        <div class="bold">No</div>
      <% end %>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-smoking"></i>
      <p>Smoker</p>
      <% if @offer.smoker %>
        <div class="bold">Yes</div>
      <% else %>
        <div class="bold">No</div>
      <% end %>
    </div>
    <div class="interrest">
      <i class="fa-solid fa-cable-car"></i>
      <p>Excursion</p>
      <% if @offer.excursion %>
        <div class="bold">Yes</div>
      <% else %>
        <div class="bold">No</div>
      <% end %>
    </div>
  </div>
  <div class="offer-btn-box">
    <%= link_to "< Offers", offers_path, class: "btn btn-pink" %>
    <%= link_to "Modify", edit_offer_path(@offer), data: {turbo_method: :update}, class: "btn btn-flat" %>
    <%= link_to "Delete", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-flat" %>
    <%= link_to "Book", new_offer_booking_path(@offer), class: "btn btn-book" %>
  </div>
  <h3 class="booktitle">Bookings</h3>
  <div class="bookings">
    <div class="book">
      <% if @offer.bookings %>
        <% @offer.bookings.each do |booking| %>
          <div class="bookinfos">
            <div class="bold"><%= booking.user.last_name %> <%= booking.user.first_name %> <i class="fa-regular fa-comment"></i></div>
            <div><em>Date: <%= booking.date %></em></div>
            <div><em><%= booking.comment %></em></div>
            <div class="cancelb"><%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure ?'}, class: "btn btn-cancel" %></div>
          </div>
        <% end %>
      <% else %>
        <p>There are not current bookings</p>
      <% end %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>
