<div class="gridshow">
  <div class="offer-pix">
    <% if @offer.photo.attached? %>
      <%= cl_image_tag @offer.photo.key, height: 350, width: 450, crop: :fill, class: "image" %>
    <% end %>
  </div>
  <div class="interrest-box">
    <div class="interrest">
      <p>Country<br><%= @offer.country %></p>
    </div>
    <div class="interrest">
      <p>City<br><%= @offer.city %></p>
    </div>
    <div class="interrest">
      <p>Price<br><%= @offer.price %> $</p>
    </div>
    <div class="interrest">
      <p>Lodging<br>
      <% if @offer.lodging %>
        <i class="fa-solid fa-bed"></i>
      <% else %>
        No
      <% end %> </p>
    </div>
    <div class="interrest">
      <p>Meal<br>included<br>
      <% if @offer.meal %>
        <i class="fa-solid fa-utensils"></i>
      <% else %>
        No
      <% end %> </p>
    </div>
    <div class="interrest">
      <p>Family<br>with Children<br>
      <% if @offer.pet %>
        Yes
      <% else %>
        No
      <% end %> </p>
    </div>
    <div class="interrest">
      <p>Pets<br>welcome<br>
      <% if @offer.pet %>
        <i class="fa-solid fa-paw"></i>
      <% else %>
        No
      <% end %> </p>
    </div>
    <div class="interrest">
      <p>Smokers<br>welcome<br>
      <% if @offer.smoker  %>
        <i class="fa-solid fa-smoking"></i>
      <% else %>
        No
      <% end %> </p>
    </div>
    <div class="interrest">
      <p>Excursion<br>
      <% if @offer.excursion %>
        <i class="fa-solid fa-cable-car"></i>
      <% else %>
        No
      <% end %> </p>
    </div>
  </div>
  <div class="offer-btn-box">
    <%= link_to "Book", new_offer_booking_path(@offer), class: "btn btn-flat" %>
    <%= link_to "Modify", edit_offer_path(@offer), data: {turbo_method: :update}, class: "btn btn-flat" %>
    <%= link_to "Delete", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-flat" %>
    <%= link_to "Back to Offers", offers_path, class: "btn btn-flat" %>
  </div>
  <div class="booking">
    <ul>
      <% @offer.bookings.each do |booking| %>
        <h3>Your booking</h3>
        <li>
          <%= booking.date %>
          <br>
          <%= booking.comment %>
          <br>
          <%= link_to "delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure ?'}, class: "btn btn-flat" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example"></div>
</div>
