

<div class="container show-container">
<div class="d-flex" >

  <div class="parent">
      <div class="card">
        <p>Country: <%= @offer.country %> </p>
      </div>

      <div class="card">
        <p>City:  <%= @offer.city %> </p>
      </div>
      <div class="card">
        <p>Price:  <%= @offer.price %> </p>
      </div>

      <div class="card">
        <p>Lodging:
        <% if @offer.lodging %>
        <i class="fa-solid fa-bed"></i>
            <% else %>
            <i class="fa-solid fa-ban"></i>
        <% end %> </p>
      </div>

      <div class="card">
        <p>Meal included: </i>
        <% if @offer.meal %>
          <i class="fa-solid fa-utensils"></i>
        <% end %> </p>
      </div>

      <div class="card">
        <p>Pet friendly:
        <% if @offer.pet %>
          <i class="fa-solid fa-paw"></i>
            <% else %>
            <i class="fa-solid fa-ban"></i>
        <% end %> </p>
      </div>

      <div class="card">
        <p>Smoker friendly:
        <% if @offer.smoker  %>
        <i class="fa-solid fa-smoking"></i>
          <% else %>
          <i class="fa-solid fa-ban-smoking"></i>
        <% end  %> </p>
      </div>

      <div class="card">
        <p>Excursion ok:
        <% if @offer.excursion %>
        <i class="fa-solid fa-cable-car"></i>
          <% else %>
          <i class="fa-solid fa-ban"></i>
        <% end %> </p>
      </div>
    </div>
      <%= cl_image_tag @offer.photo.key, height: 350, width: 450, crop: :fill, class: "image" %>
  </div>
    <br>
    <%= link_to "Book in", class: "btn btn-primary" %>
    <%# <%= link_to "Book in",  new_offer_booking_path,  class: "btn btn-ghost" %>
    <br>
    <%= link_to "Back to index", offers_path, class: "btn btn-primary" %>

</div>
