<!DOCTYPE html>
<html>
  <head>
    <title>VisTaCulture</title>
    <%# original viewport %>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>
    <%# tuto grid responsive viewport %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
